.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: #444444;
}

.dialogsItems{
    padding: 10px;
}

.dialog{
    border: rgba(77, 76, 76, 0.35)  2px solid;
    margin: 10px;
    text-decoration: none;
}

.active{
    color: #02c07e;
    font-weight: bold;
}

.messages{
    padding: 10px;
}

.message{
    border: rgba(77, 76, 76, 0.35) 2px solid;
    margin: 10px;
}