.dialogs{
    color: #444444;
    background-image: url("../../../public/img/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    width: 100%;
}

.dialogItem{
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: rgba(21, 21, 21, 0.57);
    border-radius: 5px;
    flex-wrap: wrap;
}

.dialogItem:hover{
    background-color: rgba(21, 21, 21, 0.78);
}

a, a:hover{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.avatar{
    margin: 10px;
}

.avatar img{
    width: 60px;
    border-radius: 50%;
    margin-right: 50px;
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
}

.name{
    color: #8ed3a6;

}

.message{
    flex-grow: 1;
}