.profile{
    grid-area: c;
    display: grid;
    grid-template-areas:
          "u"
            "p";

    grid-template-rows: 2fr 10fr;
    background-size:contain;
    background-repeat: no-repeat;
    color: #f0f8ff;
    overflow: hidden;
    height: 108vh;
}

.top{
    background-image: url("../../../public/img/BACK-PROFILE.jpg");
    background-position: center;
    background-size: cover;
}