.item{
    margin-bottom: 20px;
    background-color: rgba(2, 192, 126, 0.62);
    border-radius: 5px;
}

.avatar{
    max-width: 100px;
    padding: 10px;
}
.avatar img{
    max-width: 100%;
    border:2px solid;
    border-radius: 50%;
    padding: 5px;
}

.text{
    flex-grow: 1;
    font-size: 18px;
    background-color: rgba(240, 248, 255, 0.55);
    border-radius: 5px;
    padding: 10px;
}

.stats{
    padding:5px 10px;
    display: flex;
    flex-direction: row;
    vertical-align: center;
}

.name{
    margin-right: 20px;
    font-weight: 500;
}

.like, .repost, .comments i{
    margin-right: 20px;;
}

.row{
    display: flex;
    flex-direction: row;
}

.date{
    margin-left: auto;
    margin-right: 10px;
}
.edit{
    margin-right: 10px;
}

.btn{
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}