.header{
    grid-area: h;
    background-color: #17daa2;
    background-image: url("../../../public/img/back-header.png");
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 4.5%;
}

.header img{

    max-width: 5.5em;
    background-color: rgba(99, 64, 161, 0.87);
}

.slogan{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    color: rgba(160, 241, 218, 0.91);
    background-color: rgba(12, 12, 12, 0.76);
    height: 50px;
    vertical-align: top;
    padding: 0 20px;
    border-radius: 10px;
}

.sign a{
    color: #6340a1;
}