.header{
    grid-area: h;
    width: 57.81%;
    position: fixed;
    max-width: 1920px;
    margin-left: 21%;
    min-height: 60px;
    max-height: 84px;
    background-color: #000000;
    /*background-image: url("../../../public/img/back-header.png");*/
    /*background-size: contain;*/
    backdrop-filter: blur(8px);
    border-radius: 0px 0px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 4%;
}

.header img{
    width: 4rem;
    background-color: rgba(99, 64, 161, 0.87);
    border-radius: 10%;
}