.header{
    grid-area: h;
    background-color: #17daa2;
    background-image: url("../../../public/img/back-header.png");
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 4.5%;
}

.header img{

    max-width: 5.5em;
    background-color: rgba(99, 64, 161, 0.87);
}

.slogan{
    font-size: 25px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.81);
    background-color: rgba(11, 115, 115, 0.75);
    height: 40px;
    vertical-align: middle;
    padding: 0 20px;
    border-radius: 10px;
}

.sign a{
    color: #6340a1;
}