.posts{
    grid-area: p;
    padding: 0 20px;
    background: -webkit-linear-gradient(180deg, #00153f,#007b72,#16dab9);
    background: linear-gradient(180deg, #00153f,#007b72,#16dab9);
    height: fit-content;
}

.newPost{
    font-size: 20px;
}

h3{
    margin-left: 20px;
}