.app-wrapper{
  display: grid;
  grid-template-areas:
          "h"
          "c"
          "f";
  grid-template-rows: 60px 1fr ;
    max-width: 1920px;
    height: 100vh;
}


.app-wrapper-content{
  width: 47.92%;
  margin: 0 auto;
  grid-area:c;
}

